﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* Hidden inputs *@
<input id="XCoordinate" type="hidden" ng-model="Rover.XCoordinate" />
<input id="YCoordinate" type="hidden" ng-model="Rover.YCoordinate" />
<input id="ActualDirection" type="hidden" ng-model="Rover.ActualDirection" />
<input id="ActualDirectionstring" type="hidden" ng-model="Rover.ActualDirectionstring" />
<input id="StageWidth" type="hidden" ng-model="Rover.StageWidth" />
<input id="StageHeight" type="hidden" ng-model="Rover.StageHeight" />

@* Rover panel *@
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Control panel</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        @* Land form *@
                        <form id="land-form">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="landWidth">Land width</label>
                                    <input type="text" class="form-control" id="land-width-txt" ng-model="Rover.LandWidthPercentage" name="landWidth" placeholder="20" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="landHeight">Land height</label>
                                    <input type="text" class="form-control" id="land-height-txt" ng-model="Rover.LandHeightPercentage" name="landHeight" placeholder="50" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-default" ng-click="SetLandDimensions()">Set land dimensions</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        @* Land form *@
                        <form id="command-form">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="command">Command</label>
                                    <input type="text" class="form-control" id="command-txt" ng-model="Rover.Command" name="command" placeholder="AALLRA" disabled />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-default" ng-click="SendCommand()" disabled>Send command</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* ROVER land section *@
<div class="row">
    <div class="col-sm-12">
        <div id="simulation-panel" class="panel panel-default">
            <div class="panel-heading">Simulation panel <span style="float: right;">X:<strong>{{Rover.XCoordinate}}</strong> Y: <strong>{{Rover.YCoordinate}}</strong> Direction: <strong>{{Rover.ActualDirectionString}}</strong></span></div>
            <div class="panel-body">
                <div id="game-container">

                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {

            // Set form validations
            $("#land-form").validate({
                debug: true,
                errorClass: 'text-danger',
                submitHandler: function (form) {
                    
                    // Disable all the form inputs
                    $(form).find("input, button").each(function (index, element) {
                        $(element).attr("disabled", "disabled");
                    });

                    // Enable form inputs and buttons
                    $("#command-form").find("input, button").each(function (index, element) {
                        $(element).removeAttr("disabled");
                    });

                },
                invalidHandler: function (event, validator) {
                    
                },
                rules: {
                    landWidth: {
                        required: true,
                        number: true,
                        min: 20,
                        max: 100
                    },
                    landHeight: {
                        required: true,
                        number: true,
                        min: 20,
                        max: 100
                    }
                },
                messages: {
                    landWidth: {
                        required: "This field is required.",
                        number: "Numbers only.",
                        min: "The min width is 20",
                        max: "The max width is 100"
                    },
                    landHeight: {
                        required: "This field is required.",
                        number: "Numbers only.",
                        min: "The min height is 20",
                        max: "The max height is 100"
                    }
                }
            });

            //// Set form validations
            //$("#command-form").validate({
            //    debug: true,
            //    errorClass: 'text-danger',
            //    submitHandler: function (form) {
            //        debugger

            //        //$(form).ajaxSubmit();
            //    },
            //    invalidHandler: function (event, validator) {

            //    },
            //    rules: {
            //        command: {
            //            required: true
            //        }
            //    },
            //    messages: {
            //        command: {
            //            required: "This field is required."
            //        }
            //    }
            //});
            
        });
    </script>
}